.about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-variant);
    background-image: url('../../assets/img/backImg2.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}

.about_container h1 {
    font-weight: 500;
    font-size: 3rem;
}

.content-container {
    justify-content: space-between;
}

.about_container p {
    margin-bottom: 2rem;
}

.boxes {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2rem;
    max-width: 80rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.box {
    background-color: var(--color-white);
    flex: 1;
    padding: 2rem 2rem 0rem 1.5rem;
    transition: var(--transition);
}

.box:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.box-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.box-text {
    margin-top: 1.5rem;
    font-weight: 200;
    font-size: 0.9rem;
}

.second-text-info {
    text-align: center;
}

.about-image {
    width: 995px;
    height: 480px;
    object-fit: cover;
    margin-top: 3rem;
}

.box-icons {
    height: 2.5rem;
}

@media screen and (max-width: 768px) {
    .about-image {
        width: 20rem;
        height: auto;
    }
}