@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-bg: #052A24;
  --color-bg-variant: #EDB96E;
  --color-bg-variant-hover: #ccb18c;
  --color-bg-variant-trans: rgba(44, 44, 108, 0.4);
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 300ms ease;

  --container-width-lg: 50%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

button {
  font-family: Poppins;
  border: none;
  font-size: 1rem;
  background-color: var(--color-bg-variant);
  color: black;
  width: 12rem;
  height: 3rem;
  transition: var(--transition);
  cursor: pointer;
}

button:hover {
  transform: scale(0.95);
}