@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-bg: #052A24;
  --color-bg-variant: #f3f3f3;
  --color-bg-button: #EDB96E;
  --color-bg-button-hover: #ccb18c;
  --color-white: #fff;
  --transition: all 300ms ease;

  --container-width-lg: 50%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

.main-button {
  font-family: Poppins;
  border: none;
  font-size: 1rem;
  background-color: var(--color-bg-button);
  color: black;
  width: 12rem;
  height: 3rem;
  transition: var(--transition);
  cursor: pointer;
}

.main-button:hover {
  transform: scale(0.95);
}